<form action="/submit_skill" method="POST" >
  <p>Enter your Pro here.</p>
  <input type="text" name="name" placeholder="Skill">
  <input type="text" name="context" placeholder="Creative or technical?">
  <input type="text" name="years" placeholder="Years of experience?">
  <input type="text" name="formal" placeholder="Formal training?  True or false.">
  <input type="submit">
</form>